<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mainpage</title>
        <link rel="stylesheet" href="./stylesheets/index.css">
    </head>
    <body>
        <header>
            <h2>WELCOME TO DO LIST!</h2>
        </header>
        <article>
            <ul id="Interface">
                <li>
                    <form action="http://127.0.0.1:1234/users" accept-charset="utf-8" name="getLogin" method="get">
                        <button>로그인</button>
                    </form>
                </li>
                <li>
                    <form action="http://127.0.0.1:1234/users" accept-charset="utf-8 name" name="getTodoList" method="get">
                        <button>나의 ToDoList</button>
                    </form>
                </li>
            </ul>
        </article>
    </body>
</html>