<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>로그인 Page</title>
    </head>
    <body>
        <header>

        </header>
        <article>
            <div class="Login">
                <form action="http://127.0.0.1:1234/users" accept-charset="utf-8" name="userId" method="post">
                    <fieldset>
                        <legend>Login</legend>
                            Name: <input type="text" name="userName"/> <br><br>
                            ID: <input type="text" name="userId"/> <br><br>
                            PW: <input type="password" name="userPassword" /><br><br>
                            
                            <input type="submit" value="submit"/>
                    </fieldset>
                </form>
            </div>
        </article>
        
    </body>
</html>